.contacts__location {
  font-size: 18px;
}
.phone-number {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon--elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
