.contacts__location {
  font-size: rem(18px);
}
.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon--elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}
