.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 94px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 27px;

  &:last-child {
    margin-right: 0px;
  }
}

.menu__link {
  text-decoration: none;
}

