
.hero__container {
  background: url("../../images/backgrounds/beats__solo__3.png") center right no-repeat;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 25px 0 50px;
}

.hero {
 
  width: 100%;
  min-height: 650px;
}

.hero__title-section {
  width: 46%;
  margin-bottom: 85px;
}



.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 45px;
  padding-right: 10%;
}