
.hero__container {
  background: url("../../images/backgrounds/beats__solo__3.png") center right no-repeat;
  background-color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(25px) 0 rem(50px);
}

.hero {
 
  width: 100%;
  min-height: rem(650px);
}

.hero__title-section {
  width: 46%;
  margin-bottom: rem(85px);
}



.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(15px);
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(45px);
  padding-right: 10%;
}