.menu {

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: rem(27px);

  &:last-child {
    margin-right: rem(0px);
  }
}

.menu__link {
  text-decoration: none;
}

