.reviews__display {
  background: #F8FAF9;
  padding: rem(42px);
  margin-bottom: rem(15px);
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(84px);
    height: rem(84px);
    color: $white;
    border-radius: rem(50px);
    position: absolute;
    left: rem(50px);
    right: rem(50px);
    transform: translateX(-50%);
    top: rem(-42px);
  }
}

.reviews__display-inner {
  display: flex;
  align-items: center;
}

.reviews__avatar {
  width: rem(250px);
  height: rem(260px);
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(20px);
}

.reviews__title {
  font-size: rem(24px);
  font-weight: bold;
  margin-bottom: rem(32px);
  color: $black;
}

.reviews__text {
  margin-bottom: rem(30px);
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
  color: $black;
}