.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 27px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link {
  font-family: Alegreya Sans;
  font-size: 18px;
  text-decoration: none;
  gap: 27px;
}